registry=https://registry.npmjs.org/
@joystack:registry=https://artifacts.joystack.com/repository/npm-releases/
//artifacts.joystack.com/repository/npm-releases/:_auth=YWRtaW46YjA2Yjc4MDktYzdkMS00NDM1LWFjODEtYjRhNWEyZmExODZi