@import "../../../config";

.joystack-not-found {
  .not-found-content{
    display: grid;
    justify-items: center;
    place-content: center;
    height: calc(100vh - 255px);
    .go-home-button{
      background-color: $highlightColor;
      font-size: 18px;
      color: $primaryWhite;
      font-weight: 500;
      border: 0;
      outline: 0;
      padding: 7px 20px;
      border-radius: 10px;
    }
  }
}