@import '../../../../config';

.general-menu-container {
  width: 90%;
  margin: 27px auto auto auto;
  color: #062644;
  .general-menu-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50px;
    .general-menu-cards {
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      row-gap: 20px;
      border-radius: 5px;
    }
  }
}

.dashboard-card-version {
  grid-column: 1/6;
  padding: 12px 16px;
}

.dashboard-card-world {
  grid-column: 7/12;
  padding: 12px 16px;
}