.carousel {
  width: 95%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
}

.carousel-indicators > li {
  color: black;
  background: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #000000;
}

.carousel-indicators .active {
  background-color: black !important;
}

li .active {
  border: 2px solid #000000 !important;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-inner {
  margin-bottom:50px;
}